@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap');
/* serif */

@import url('https: //fonts.googleapis.com/css2?family=Noto+Serif: ital,wght@0,100..900;1,100..900&family=Zen+Kaku+Gothic+New&display=swap');
/* jp */

@import url('https: //fonts.googleapis.com/css2?family=Parisienne&display=swap');
/* cursive */

:root {
  --font-family-serif: "Noto Serif JP", serif;
  --font-family-jp: "Zen Kaku Gothic New", sans-serif;
  --font-family-cursive: "Parisienne", cursive;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
font-family: var(--font-family-serif);
margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color:  inherit;
  text-decoration:  none;
  transition:  opacity 0.5s;
}

a:hover {
  opacity:  0.8;
}

.sp-br {
  display:  none;
}
@media (max-width: 768px) {
  .sp-br {
    display:  inline;
  }
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* common */
.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}

.container h2 {
  padding-left: 8px;
  font-family: var(--font-family-cursive);
  font-size: 2.6em;
  background:linear-gradient(#e0adbc, #a56678);
  background-clip: text;
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 768px) {
  .container h2 {
    font-size: 2em;
  }
}

.section {
  padding: 80px 0;
}

h2 {
  margin-bottom: 20px;
}

.orange {
  color: #e67e22;
}

/* header */
.header {
  position: sticky;
  top: 0;
  height: 88px;
  z-index: 100;
  color: #fff;
  background-color: #a56678;
}
@media (max-width: 768px) {
  .header {
    height: auto;
    padding: 8px 0;
  }
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
}
@media (max-width: 768px) {
  .header .container {
    flex-direction: column;
    gap: 8px;
  }
}

.header h1 {
  font-family: var(--font-family-cursive);
  font-size: 3.2em;
  font-weight: 300;
  background:linear-gradient(#fff,#e0adbc);
  background-clip: text;
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 768px) {
  .header h1 {
    font-size: 2.2em;
    font-weight: 600;
  }
}

@media (max-width: 768px) {
  nav {
    width: 100%;
  }
}

.nav ul {
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (max-width: 768px) {
  .nav ul {
    justify-content: space-around;
  }
}

/* FV */
.fv {
  position: relative;
  height: 70vh;
  background: url(images/fv.jpg) center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}
@media (max-width:768px) {
  .fv {
    height: 60vh;
  }
}

.fv::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.4);
}

.fv h2 {
  position: relative;
  font-size: 2.5em;
  font-family: var(--font-family-cursive);
  font-weight: 300;
  letter-spacing: .01em;
  background: #fff;
  background-clip: text;
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 768px) {
  .fv h2 {
    font-size: 1.4em;
    font-weight: 600;
    letter-spacing: 0.05em;
  }
}

/* concept */
.concept {
  background-color: rgba(243, 237, 229, 0.3);
  background-image: linear-gradient(rgba(243, 237, 229, 0.3), rgba(243, 237, 229, 0.3)), url(../images/common/noise.avif);
  background-repeat: repeat;
  background-size: 100px;
  padding: 80px 0;
}

.concept-grid {
  display: grid;
  grid-template-columns: 60% 1fr;
  align-items: center;
  gap: 40px;
}
@media (max-width:768px) {
  .concept-grid {
    grid-template-columns: 1fr;
  }
}

.concept-txt p {
  line-height: 1.8;
  font-family: var(--font-family-jp);
}
@media (max-width: 768px) {
  .concept-txt p {
    font-size: 0.95em;
    letter-spacing: -0.05em;
  }
}

.concept-txt p + p {
  margin-top: 16px;
}

.concept-pic img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 4px 4px 15px -2px #bababa;
}

/* style */
.style {
  background-color: rgba(246, 226, 232, 0.3);
  background-image: linear-gradient(rgba(246, 226, 232, 0.3), rgba(246, 226, 232, 0.3)), url(../images/common/noise.avif);
  background-repeat: repeat;
  background-size: 100px;
  padding: 80px 0;
}

.style-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 40px;
}
@media (max-width:1024px) {
  .style-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width:768px) {
  .style-grid {
    grid-template-columns: 1fr;
  }
}

.style-grid img {
  width: 100%;
  display: block;
  box-shadow: 4px 4px 15px -2px #bababa;
  transition: 0.3s;
}

.style-grid img:hover {
  transform: scale(1.05);
}

/* menu */
.menu {
  background-color: rgba(243, 237, 229, 0.3);
  background-image: linear-gradient(rgba(243, 237, 229, 0.3), rgba(243, 237, 229, 0.3)), url(../images/common/noise.avif);
  background-repeat: repeat;
  background-size: 100px;
  padding: 80px 0;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
  text-align: center;
}

.menu-item img {
  display: block;
  box-shadow: 4px 4px 15px -2px #bababa;
}

.menu-item h3,
.menu-item p {
  color: #a43a58;
}

.menu-item h3 {
  margin: 16px 0 0;
  font-family: var(--font-family-cursive);
  font-size: 2em;
}

.menu-item p {
  font-family: var(--font-family-jp);
  font-weight: 600;
  letter-spacing: 0.05em;
}

.call-btn {
  text-align: center;
  margin-top: 56px;
}

.call-btn p {
  font-family: var(--font-family-jp);
  font-size: .9em;
  font-weight: 500;
  color: #a43a58;
}

/* staff */
.staff {
  background-color: rgba(246, 226, 232, 0.3);
  background-image: linear-gradient(rgba(246, 226, 232, 0.3), rgba(246, 226, 232, 0.3)), url(../images/common/noise.avif);
  background-repeat: repeat;
  background-size: 100px;
  padding: 80px 0;
}

.staff-grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 40px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.staff-grid img {
  width: 100%;
  box-shadow: 4px 4px 15px -2px #bababa;
}

.staff-item p {
  margin-top: 16px;
  font-family: var(--font-family-jp);
  font-size: 1.1em;
  font-weight: 600;
  color: #a43a58;
}

/* before-after */
.before-after {
  background-color: rgba(243, 237, 229, 0.3);
  background-image: linear-gradient(rgba(243, 237, 229, 0.3), rgba(243, 237, 229, 0.3)), url(../images/common/noise.avif);
  background-repeat: repeat;
  background-size: 100px;
  padding: 80px 0;
}

.ba-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
@media (max-width: 768px) {
  .ba-grid {
    grid-template-columns: 1fr;
    width: 100%;
    padding: 0 8px;
  }
}


.ba-item img {
  width: 100%;
  display: block;
  box-shadow: 4px 4px 15px -2px #bababa;
}

.ba-item p {
  margin-top: 16px;
  text-align: center;
  font-family: var(--font-family-jp);
  font-size: 1.1em;
  font-weight: 600;
  color: #a43a58;
}

.ba-item p i {
  margin: 0 16px;
  font-size: 0.7em;
}

/* instagram */
.instagram {
  background-color: rgba(246, 226, 232, 0.3);
  background-image: linear-gradient(rgba(246, 226, 232, 0.3), rgba(246, 226, 232, 0.3)), url(../images/common/noise.avif);
  background-repeat: repeat;
  background-size: 100px;
  padding: 80px 0;
}

.insta-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}
@media (max-width: 768px) {
  .insta-grid {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    padding: 0 8px;
  }
}

.insta-grid img {
  width: 100%;
  display: block;
  box-shadow: 4px 4px 15px -2px #bababa;
}

.insta-btn {
  text-align: center;
  margin-top: 56px;
}

.insta-btn a {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 16px;
  font-family: var(--font-family-jp);
  font-size: .8em;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.05em;
  background: #a56678;
  box-shadow: 4px 4px 15px -2px #bababa;
}

.insta-btn a i {
  font-size: 1.4em;
}

/* review */
.review {
  background-color: rgba(243, 237, 229, 0.3);
  background-image: linear-gradient(rgba(243, 237, 229, 0.3), rgba(243, 237, 229, 0.3)), url(../images/common/noise.avif);
  background-repeat: repeat;
  background-size: 100px;
  padding: 80px 0;
}

.review-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
@media (max-width: 768px) {
  .review-grid {
    grid-template-columns: 1fr;
    width: 100%;
    padding: 0;
  }
}

.review-item {
  background: #fff;
  padding: 20px;
}
@media (max-width: 768px) {
  .review-item {
    padding: 16px 8px;
  }
}

.review-item .evaluation {
  display: flex;
  justify-content: left;
  font-size: 0.9em;
}
@media (max-width: 768px) {
  .review-item .evaluation {
    justify-content: center;
    font-size: 0.75em;
  }
}

.review-item .content {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
}
@media (max-width: 768px) {
  .review-item .content {
    margin-top: 8px;
  }
}

.review-item .content .customer {
  width: 21%;
}

.review-item .content .customer img {
   filter: drop-shadow(3px 3px 3px #d4d4d4);
}

.review-item .content .txt_area {
  flex: 1;
  font-family: var(--font-family-jp);
  font-size: 0.9em;
}

/* access */
.access {
  background-color: rgba(246, 226, 232, 0.3);
  background-image: linear-gradient(rgba(246, 226, 232, 0.3), rgba(246, 226, 232, 0.3)), url(../images/common/noise.avif);
  background-repeat: repeat;
  background-size: 100px;
  padding: 80px 0;
}

.access-area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
@media (max-width: 768px) {
  .access-area {
    flex-direction: column;
    gap: 56px;
  }
}

.access-txt {
  width: 40%;
  padding: 8px 16px;
  background: rgba(255, 255, 255, 0.5);
}
@media (max-width: 768px) {
  .access-txt {
    width: 100%;
    margin: 0 auto;
  }
}

.access-txt p {
  margin-bottom: 16px;
  padding:0 0 8px 16px;
  font-family: var(--font-family-jp);
  font-size: 0.9em;
  font-weight: 500;
  color: #a56678;
  letter-spacing: 0.05em;
  border-bottom: dotted 1px #d4d4d4;
}

.access-map {
  width: 40%;
}
@media (max-width: 768px) {
  .access-map {
    width: 90%;
    margin: 0 auto;
  }
}

.access-map img {
  width: 100%;
  box-shadow: 4px 4px 15px -2px #bababa;
}

/* CTA */
.cta {
  position: relative;
  height: 70vh;
  background: url(images/cta.jpg) center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}
@media (max-width: 768px) {
  .cta {
    height: auto;
  }
}

.cta::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.4);
}

.cta .container {
  position: relative;
  z-index: 1;
  color: #fff;
}

.cta .container h2 {
  font-size: 1.8em;
  letter-spacing: 0.05em;
  background: #fff;
  background-clip: text;
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 768px) {
  .cta .container h2 {
    font-size: 1.4em;
    letter-spacing: 0.1em;
  }
}

.cta-button {
  display: inline-block;
  margin-top: 20px;
  padding: 15px 40px;
  font-family: var(--font-family-jp);
  font-size: 0.9em;
  letter-spacing: 0.1em;
  color: #fff;
  background: #a43a58;
}
@media (max-width: 768px) {
  .cta-button {
    display: block;
    height: auto;
    margin: 32px auto 0;
  }
}

/* footer */
.footer {
  padding: 20px 0;
  background-color: #a56678;
}

.footer p {
  margin: 0;
  text-align: center;
  font-size: 0.9em;
  color: #fff;
}

/* responsive */
@media (max-width: 768px) {
  .style-grid {
    grid-template-columns: 1fr;
  }

  .menu-grid {
    grid-template-columns: 1fr;
  }

  .staff-grid {
    grid-template-columns: 1fr;
  }

  .section {
    padding: 60px 0;
  }
}